:root {
  --first-color: #f0c040;
  --second-color: #fa8000; 
  --rating-color: #ff9000;

  /* --first-color: #10c0ff;
  --second-color: #108090; 
  --rating-color: #303099; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inside-container {
  min-height: 100vh;
}

main {
  padding: 1rem;
  flex: 1;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

.product-cart:hover {
  box-shadow: 10px 10px 11px -15px #000;
}

.product img {
  width: 100%;
  max-width: 400px;
}

.product-info {
  padding: 1rem;
}

.card-body {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first-carousel-container {
  background-color: #f4f4f4;
  border-radius: var(--bs-border-radius);
}

.rating span {
  color: var(--rating-color)
}

.btn-primary {
  background-color: var(--first-color);
  border-color: var(--socond-color);
  color: #000;
}
.btn-outline-primary {
  border-color: var(--first-color);
  color: var(--first-color);
}

.btn-primary:hover, .btn-outline-primary:hover {
  background-color: var(--second-color);
  border-color: var(--first-color);
  color: #fff;
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.track {
  position: relative;
  background-color: #ddd;
  height: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  margin-top: 50px;
}
.track > div {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 25%;
  margin-top: -18px;
  text-align: center;
  position: relative;
}
.track > div.active:before {
  background: var(--second-color);
}
.track > div::before {
  height: 7px;
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  top: 18px;
}
.track > div.active .icon {
  background: var(--second-color);
  color: #fff;
}
.track .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: relative;
  border-radius: 100%;
  background: #ddd;
}
.track > div.active .text {
  font-weight: 400;
  color: #000;
}
.track .text {
  display: block;
  margin-top: 7px;
}

/* sidebar */
.site-container {
  transition: 0.4s;
}
.side-navbar {
  width:240px;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: -1000px;
  background-color: #100901;
  transition: 0.4s;
  color: var(--first-color);
}
.navbar-brand {
  font-weight: bold;
}
.navbar-link {
  color: var(--first-color);
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}

.text-bold {
  font-weight: bold;
}

/* Map */

.full-box {
  height: 100vh;
  max-width: initial;
}
.full-box header,
.full-box footer {
  display: none;
}
.full-box .container {
  height: 100vh;
  max-width: initial;
  margin: 0;
  padding: 0;
}

.full-box .mt-3 {
  margin-top: 0 !important;
}

.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 3rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}

button.thumbnail {
  padding: 0;
}

.button-caption {
  left: 1.5%;
  text-align: left;
  max-width: 300px;
  right: auto;
  padding:15px;
}

.button-caption button {
  width: 150px;
  height: 70px;
  background-color: #fff;
}